{% extends 'base.html.twig' %}

{% block title %}Update{% endblock %}

{% block container %}
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <strong>Update Address</strong>
                    </h3>
                </div>
                <div class="panel-body">
                    <form
                        id="addressForm"
                        name="addressForm"
                        action="{{ path('address_update', {id: address.id}) }}"
                        method="post"
                        enctype="multipart/form-data"
                    >
                        <input type='hidden' name='_method' value='PUT'>
                        <div class="form-group">
                            <div class="wrapper">
                                {% if address.picture != '' %}
                                    {% set backgroundImage = address.picture %}
                                {% else %}
                                    {% set backgroundImage = 'default.png' %}
                                {% endif %}
                                <div class="file-upload" style="background-image: url({{ asset('uploads/' ~ backgroundImage) }})">
                                    <input type="file" name="avatar" id="avatar" accept="image/*">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="firstName" id="firstName" required
                                           placeholder="First Name" value="{{ address.firstName }}">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="lastName" id="lastName" required
                                           placeholder="Last Name" value="{{ address.lastName }}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" required
                                   id="email" placeholder="Email" value="{{ address.email }}">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="phoneNumber" required
                                   id="phoneNumber" placeholder="Phone Number" value="{{ address.phoneNumber }}">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="birthday" required
                                   id="birthday" placeholder="Select Birthday" value="{{ address.birthday }}">
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="streetNumber" id="streetNumber" required
                                           placeholder="Street & Number" value="{{ address.streetNumber }}">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="zip" id="zip" required
                                           placeholder="Zip" value="{{ address.zip }}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="city" id="city" required
                                           placeholder="City" value="{{ address.city }}">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="country" required
                                           id="country" placeholder="Country" value="{{ address.country }}">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">Update</button>
                        <a href="{{ path('address_list') }}" class="btn btn-secondary">
                            Back
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
